@import '../../../config-scss/rem-calc.scss';

:host {
    .listagem {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: rem-calc(20) 0;
    
        .pokemon {
            display: flex;
            width: 49.2%;
            justify-content: space-between;
            height: rem-calc(157);
            padding: rem-calc(20);
            background: var(--white);
            border-radius: rem-calc(10);
            margin-bottom: rem-calc(10);
            text-decoration: none;
            color: var(--primary-color);
    
            &__status {
                h2 {
                    font-size: rem-calc(22);
                    font-style: italic;
                    font-weight: 700;
                    text-transform: capitalize;
                    margin-bottom: rem-calc(10);
                }
    
                ul {
                    display: flex;
                    flex-direction: column;
    
                    li {
                        font-size: rem-calc(12);
                        padding: rem-calc(2);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: rem-calc(50);
                        width: rem-calc(60);
                        margin-bottom: rem-calc(5);
                    }
                }
            }
    
            &__image {
                display: flex;
                justify-content: center;
                align-items: center;
                height: rem-calc(110);
                width: rem-calc(110);
    
                img {
                    width: rem-calc(90);
                    aspect-ratio: 9/9;
                    object-fit: contain;
                }
            }
        }

        @media (max-width: 480px) {
            .pokemon {
                width: 100%;
            }
        }
    }

    .fire-type-color{ 
        background: #EF8030; 
    }

    .normal-type-color{ 
        background: #A9A77B; 
    }

    .water-type-color{ 
        background: #6390F0; 
    }

    .electric-type-color{ 
        background: #F6D12C; 
    }

    .grass-type-color{ 
        background: #7BC74D; 
    }

    .ice-type-color{ 
        background: #97D8D6; 
    }

    .fighting-type-color{ 
        background: #C22F29; 
    }

    .poison-type-color{ 
        background: #A23EA0; 
    }

    .ground-type-color{ 
        background: #E3BE65; 
    }

    .flying-type-color{ 
        background: #A88EF3; 
    }

    .psychic-type-color{ 
        background: #F95587; 
    }

    .bug-type-color{ 
        background: #A7B81A; 
    }

    .rock-type-color{ 
        background: #B7A036; 
    }

    .ghost-type-color{ 
        background: #735797; 
    }

    .dragon-type-color{ 
        background: #6F35FC; 
    }

    .dark-type-color{ 
        background: #705647; 
    }

    .steel-type-color{ 
        background: #B6B7CF; 
    }

    .fairy-type-color{ 
        background: #D784AD; 
    }
}